
.search-input {
	width: 500px;
    display: flex;
    margin: auto;
    font-size: 30px;
}
.width-zhanwei{
	width: 50px;
}
.height-zhanwei{
	height: 50px;
}
.top-center {
	display: flex;
	flex-direction: column;
    margin-right: 2%;
    margin-left: 2%;
}
.center {
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    margin-left: 20%;
}
.inline {
    display: inline-block;
    margin: 5px;
}

.leftMove {
	margin-right: 5%;
}
.rightMove {
	margin-left: 5%;
}
.left {
    float: left;
    margin-left: 5%;
}
.right {
    float: right;
    margin-right: 5%;
}
.top-btn {
    width: 5%;
    height: 40px;
    margin: 10px auto;
    background-color: #ffd04b;
}
.join-btn {
    width: 200px;
    height: 200px;
    margin: 30px auto;
    background-color: #49c539;
}
.study-btn {
    width: 200px;
    height: 150px;
    margin: 30px auto;
    background-color: #39c5bb;
}
.exam-btn {
    width: 200px;
    height: 150px;
    margin: 30px auto;
    background-color: #a568c9;
}
.submit-btn {
    width: 80px;
    height: 40px;
    background-color: #39c5bb;

}
.imageCourse {
    height: 384px;
    width: 680px;
}
.big-text-front {
    font-size: 45px;
    font: bold;
}
.big-text-behind {
    font-size: 45px;
    font: bold;
    color: rgb(37, 52, 189);
}
.info-text {
    font-size: 20px;
    color: rgb(49, 44, 44);
}
