.width-zhanwei{
	width: 50px;
}
.height-zhanwei{
	height: 50px;
}
.top-center {
	display: flex;
	flex-direction: column;
    margin-right: 2%;
    margin-left: 2%;
	}
.center {
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    margin-left: 20%;
}
.imagePreview {
    height: 240px;
    width: 425px;
}
.imageAd{
    height: 180px;
    width: 638px;
}
.inline {
    display: inline-block;
}
.description {
    width: 100%; /*一定要设置宽度，或者元素内含的百分比*/
    overflow: hidden; /*溢出的部分隐藏*/
    white-space: nowrap; /*文本不换行*/
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}